@import 'mediaQuery.module.scss'
@import 'variables.module.sass'
.about
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 90%
    margin: 50px auto
    color: #000
    padding-top: 30px
    max-width: 900px
    @include md
        flex-direction: row
    &__image
        order: 2
        border-radius: 15px
        overflow: hidden
        margin: 20px auto
        width: 80%
        aspect-ratio: 1/1
        position: relative
        max-width: 350px
        @include md
            order: 1
            width: 40%
    
    &__text
        display: flex
        flex-direction: column
        padding: 10px 0
        color: #000
        order: 1
        @include md 
            width: 60%
            margin-left: 30px
        &__section
            width: 100%
            text-align: center
            margin-bottom: 20px
            @include md 
                text-align: left
        &__header
            width: 100%
            text-align: center
            margin-bottom: 20px
            @include md 
                text-align: left
        &__paragraph
            text-align: left
            font-size: 14px
            margin: 10px 0 20px 0
            width: 100%
          