@import 'mediaQuery.module.scss'
.header__mobile 
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    position: fixed
    top: 0
    left: 0
    background-color: #fff
    padding: 10px 0 
    z-index: 20
    @include md 
        display: none
    &__logo
        z-index: 20