.image
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 80%
    margin: 0 auto
    aspect-ratio: 1.4/2
.text
    position: relative
    color: #000
    font-size: 24px
    top: -10%
    left: 50%
    font-weight: 600
    text-align: center
    margin: 15px 0
    transform: translate(-50%, 0)