.single__pricing
    width: 100%
    border: 1px solid #000
    border-radius: 10px
    padding: 25px
    margin: 40px 0
    &__header
        margin: 10px 0
        text-align: center
    &__subheader
        margin-bottom: 20px
        text-align: center
    &__price
        text-align: center
        font-size: 30px
        font-weight: bold
    &__list
        margin: 30px 40px
        &__item
            padding: 10px
    &__button
        display: flex
        justify-content: center
        margin-top: 60px