@import 'mediaQuery.module.scss'
.single__training
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    width: 100%
    margin: 20px 0
    @include md
        flex-direction: row
        width: 100%
    @include lg
        flex-grow:1
        width: 40%
        max-width: 550px
    &__img
        width: 100%
        aspect-ratio: 16/9
        position: relative
        @include md
            width: 50%
            heigt: 300px
        @include lg
            width: 200px
            height: 200px
    &__text
        @include md 
            width: 50%
            margin-left: 25px
        @include lg
            display: flex
            flex-direction: column
            align-items: center
        &__header
            margin: 15px 0
            width: 100%
            @include lg
            font-size: 12px

        &__button
            justify-content: center
            align-items: center
            margin: 0 auto 30px auto
            @include lg
                transform: scale(0.8)

        &__paragraph
            width: 100%
            padding: 5px 0
            @include md
            @include lg
                font-size: 11px
            