.single__training
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    &__button
        justify-content: center
        align-content: center
        align-items: center
        margin: 0 auto 30px auto
    &__img
        width: 100%
        aspect-ratio: 16/9
        position: relative
